@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-1Ns6iU4B-Rgfe: #ffffff;
  --plasmic-token-white: var(--token-1Ns6iU4B-Rgfe);
  --token-g8Df54S0Vq4vM: #7276edeb;
  --plasmic-token-sky-blue: var(--token-g8Df54S0Vq4vM);
}

.plasmic_default_styles {
  --mixin-tfV37pLLdW-Hf_font-family: "Poppins";
  --mixin-tfV37pLLdW-Hf_font-size: 16px;
  --mixin-tfV37pLLdW-Hf_font-weight: 400;
  --mixin-tfV37pLLdW-Hf_font-style: normal;
  --mixin-tfV37pLLdW-Hf_color: #535353;
  --mixin-tfV37pLLdW-Hf_text-align: left;
  --mixin-tfV37pLLdW-Hf_text-transform: none;
  --mixin-tfV37pLLdW-Hf_line-height: 1.6;
  --mixin-tfV37pLLdW-Hf_letter-spacing: normal;
  --mixin-tfV37pLLdW-Hf_white-space: pre-wrap;
  --mixin-tfV37pLLdW-Hf_user-select: text;
  --mixin-tfV37pLLdW-Hf_text-decoration-line: none;
  --mixin-tfV37pLLdW-Hf_text-overflow: clip;
  --mixin-VT7dHiwkQqBMR_color: var(--token-1Ns6iU4B-Rgfe);
  --mixin-VT7dHiwkQqBMR_font-weight: 500;
  --mixin-VT7dHiwkQqBMR_font-size: 45px;
  --mixin-VT7dHiwkQqBMR_line-height: 1;
  --mixin-VT7dHiwkQqBMR_letter-spacing: normal;
  --mixin-VT7dHiwkQqBMR_font-family: "Montserrat";
  --mixin-VT7dHiwkQqBMR_text-align: center;
  --mixin-U7T65gxoLH1yU_color: var(--token-g8Df54S0Vq4vM);
  --mixin-U7T65gxoLH1yU_font-weight: 700;
  --mixin-U7T65gxoLH1yU_font-size: 30px;
  --mixin-U7T65gxoLH1yU_line-height: 1.1;
  --mixin-U7T65gxoLH1yU_letter-spacing: 0px;
  --mixin-U7T65gxoLH1yU_font-family: "Montserrat";
  --mixin-OjS_8aNGIDR68_color: #3291ff;
  --mixin-ZVd0i9ZeFLMd8_color: #000000;
  --mixin-ZVd0i9ZeFLMd8_font-weight: 600;
  --mixin-ZVd0i9ZeFLMd8_font-size: 28px;
  --mixin-ZVd0i9ZeFLMd8_line-height: 1.2;
  --mixin-ZVd0i9ZeFLMd8_letter-spacing: 0px;
  --mixin-ZVd0i9ZeFLMd8_font-family: "Montserrat";
  --mixin-7ZewZfyCq92C0_font-family: "Inter";
  --mixin-7ZewZfyCq92C0_color: #000000;
  --mixin-7ZewZfyCq92C0_font-size: 24px;
  --mixin-7ZewZfyCq92C0_font-weight: 600;
  --mixin-7ZewZfyCq92C0_letter-spacing: -0.5px;
  --mixin-7ZewZfyCq92C0_line-height: 1.3;
  --mixin-D-79jT_KBvLnT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-D-79jT_KBvLnT_border-bottom-color: #dddddd;
  --mixin-D-79jT_KBvLnT_border-bottom-style: solid;
  --mixin-D-79jT_KBvLnT_border-bottom-width: 1px;
  --mixin-D-79jT_KBvLnT_border-left-color: #dddddd;
  --mixin-D-79jT_KBvLnT_border-left-style: solid;
  --mixin-D-79jT_KBvLnT_border-left-width: 1px;
  --mixin-D-79jT_KBvLnT_border-right-color: #dddddd;
  --mixin-D-79jT_KBvLnT_border-right-style: solid;
  --mixin-D-79jT_KBvLnT_border-right-width: 1px;
  --mixin-D-79jT_KBvLnT_border-top-color: #dddddd;
  --mixin-D-79jT_KBvLnT_border-top-style: solid;
  --mixin-D-79jT_KBvLnT_border-top-width: 1px;
  --mixin-D-79jT_KBvLnT_border-bottom-left-radius: 3px;
  --mixin-D-79jT_KBvLnT_border-bottom-right-radius: 3px;
  --mixin-D-79jT_KBvLnT_border-top-left-radius: 3px;
  --mixin-D-79jT_KBvLnT_border-top-right-radius: 3px;
  --mixin-D-79jT_KBvLnT_font-family: "Inconsolata";
  --mixin-D-79jT_KBvLnT_padding-bottom: 1px;
  --mixin-D-79jT_KBvLnT_padding-left: 4px;
  --mixin-D-79jT_KBvLnT_padding-right: 4px;
  --mixin-D-79jT_KBvLnT_padding-top: 1px;
  --mixin-sRpT8xq1WBItl_border-left-color: #dddddd;
  --mixin-sRpT8xq1WBItl_border-left-style: solid;
  --mixin-sRpT8xq1WBItl_border-left-width: 3px;
  --mixin-sRpT8xq1WBItl_color: #888888;
  --mixin-sRpT8xq1WBItl_padding-left: 10px;
  --mixin-OglJtD0XSu9jH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OglJtD0XSu9jH_border-bottom-color: #dddddd;
  --mixin-OglJtD0XSu9jH_border-bottom-style: solid;
  --mixin-OglJtD0XSu9jH_border-bottom-width: 1px;
  --mixin-OglJtD0XSu9jH_border-left-color: #dddddd;
  --mixin-OglJtD0XSu9jH_border-left-style: solid;
  --mixin-OglJtD0XSu9jH_border-left-width: 1px;
  --mixin-OglJtD0XSu9jH_border-right-color: #dddddd;
  --mixin-OglJtD0XSu9jH_border-right-style: solid;
  --mixin-OglJtD0XSu9jH_border-right-width: 1px;
  --mixin-OglJtD0XSu9jH_border-top-color: #dddddd;
  --mixin-OglJtD0XSu9jH_border-top-style: solid;
  --mixin-OglJtD0XSu9jH_border-top-width: 1px;
  --mixin-OglJtD0XSu9jH_border-bottom-left-radius: 3px;
  --mixin-OglJtD0XSu9jH_border-bottom-right-radius: 3px;
  --mixin-OglJtD0XSu9jH_border-top-left-radius: 3px;
  --mixin-OglJtD0XSu9jH_border-top-right-radius: 3px;
  --mixin-OglJtD0XSu9jH_font-family: "Inconsolata";
  --mixin-OglJtD0XSu9jH_padding-bottom: 3px;
  --mixin-OglJtD0XSu9jH_padding-left: 6px;
  --mixin-OglJtD0XSu9jH_padding-right: 6px;
  --mixin-OglJtD0XSu9jH_padding-top: 3px;
  --mixin-td9XAj2DKsV-3_font-family: "Inter";
  --mixin-td9XAj2DKsV-3_color: #000000;
  --mixin-td9XAj2DKsV-3_font-size: 20px;
  --mixin-td9XAj2DKsV-3_font-weight: 600;
  --mixin-td9XAj2DKsV-3_letter-spacing: -0.3px;
  --mixin-td9XAj2DKsV-3_line-height: 1.5;
  --mixin-ThFJEK7yglx32_font-family: "Inter";
  --mixin-ThFJEK7yglx32_color: #000000;
  --mixin-ThFJEK7yglx32_font-size: 16px;
  --mixin-ThFJEK7yglx32_font-weight: 600;
  --mixin-ThFJEK7yglx32_line-height: 1.5;
  --mixin-7WxcakahcCk82_display: flex;
  --mixin-7WxcakahcCk82_flex-direction: column;
  --mixin-7WxcakahcCk82_align-items: stretch;
  --mixin-7WxcakahcCk82_justify-content: flex-start;
  --mixin-7WxcakahcCk82_list-style-position: outside;
  --mixin-7WxcakahcCk82_padding-left: 40px;
  --mixin-7WxcakahcCk82_position: relative;
  --mixin-7WxcakahcCk82_list-style-type: decimal;
  --mixin-bNiYhCGJbes32_display: flex;
  --mixin-bNiYhCGJbes32_flex-direction: column;
  --mixin-bNiYhCGJbes32_align-items: stretch;
  --mixin-bNiYhCGJbes32_justify-content: flex-start;
  --mixin-bNiYhCGJbes32_list-style-position: outside;
  --mixin-bNiYhCGJbes32_padding-left: 40px;
  --mixin-bNiYhCGJbes32_position: relative;
  --mixin-bNiYhCGJbes32_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-tfV37pLLdW-Hf_font-family);
  font-size: var(--mixin-tfV37pLLdW-Hf_font-size);
  font-weight: var(--mixin-tfV37pLLdW-Hf_font-weight);
  font-style: var(--mixin-tfV37pLLdW-Hf_font-style);
  color: var(--mixin-tfV37pLLdW-Hf_color);
  text-align: var(--mixin-tfV37pLLdW-Hf_text-align);
  text-transform: var(--mixin-tfV37pLLdW-Hf_text-transform);
  line-height: var(--mixin-tfV37pLLdW-Hf_line-height);
  letter-spacing: var(--mixin-tfV37pLLdW-Hf_letter-spacing);
  white-space: var(--mixin-tfV37pLLdW-Hf_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-VT7dHiwkQqBMR_color);
  font-weight: var(--mixin-VT7dHiwkQqBMR_font-weight);
  font-size: var(--mixin-VT7dHiwkQqBMR_font-size);
  line-height: var(--mixin-VT7dHiwkQqBMR_line-height);
  letter-spacing: var(--mixin-VT7dHiwkQqBMR_letter-spacing);
  font-family: var(--mixin-VT7dHiwkQqBMR_font-family);
  text-align: var(--mixin-VT7dHiwkQqBMR_text-align);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-U7T65gxoLH1yU_color);
  font-weight: var(--mixin-U7T65gxoLH1yU_font-weight);
  font-size: var(--mixin-U7T65gxoLH1yU_font-size);
  line-height: var(--mixin-U7T65gxoLH1yU_line-height);
  letter-spacing: var(--mixin-U7T65gxoLH1yU_letter-spacing);
  font-family: var(--mixin-U7T65gxoLH1yU_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-OjS_8aNGIDR68_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-ZVd0i9ZeFLMd8_color);
  font-weight: var(--mixin-ZVd0i9ZeFLMd8_font-weight);
  font-size: var(--mixin-ZVd0i9ZeFLMd8_font-size);
  line-height: var(--mixin-ZVd0i9ZeFLMd8_line-height);
  letter-spacing: var(--mixin-ZVd0i9ZeFLMd8_letter-spacing);
  font-family: var(--mixin-ZVd0i9ZeFLMd8_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-7ZewZfyCq92C0_font-family);
  color: var(--mixin-7ZewZfyCq92C0_color);
  font-size: var(--mixin-7ZewZfyCq92C0_font-size);
  font-weight: var(--mixin-7ZewZfyCq92C0_font-weight);
  letter-spacing: var(--mixin-7ZewZfyCq92C0_letter-spacing);
  line-height: var(--mixin-7ZewZfyCq92C0_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-D-79jT_KBvLnT_background);
  font-family: var(--mixin-D-79jT_KBvLnT_font-family);
  border-radius: var(--mixin-D-79jT_KBvLnT_border-top-left-radius)
    var(--mixin-D-79jT_KBvLnT_border-top-right-radius)
    var(--mixin-D-79jT_KBvLnT_border-bottom-right-radius)
    var(--mixin-D-79jT_KBvLnT_border-bottom-left-radius);
  padding: var(--mixin-D-79jT_KBvLnT_padding-top)
    var(--mixin-D-79jT_KBvLnT_padding-right)
    var(--mixin-D-79jT_KBvLnT_padding-bottom)
    var(--mixin-D-79jT_KBvLnT_padding-left);
  border-top: var(--mixin-D-79jT_KBvLnT_border-top-width)
    var(--mixin-D-79jT_KBvLnT_border-top-style)
    var(--mixin-D-79jT_KBvLnT_border-top-color);
  border-right: var(--mixin-D-79jT_KBvLnT_border-right-width)
    var(--mixin-D-79jT_KBvLnT_border-right-style)
    var(--mixin-D-79jT_KBvLnT_border-right-color);
  border-bottom: var(--mixin-D-79jT_KBvLnT_border-bottom-width)
    var(--mixin-D-79jT_KBvLnT_border-bottom-style)
    var(--mixin-D-79jT_KBvLnT_border-bottom-color);
  border-left: var(--mixin-D-79jT_KBvLnT_border-left-width)
    var(--mixin-D-79jT_KBvLnT_border-left-style)
    var(--mixin-D-79jT_KBvLnT_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-sRpT8xq1WBItl_color);
  padding-left: var(--mixin-sRpT8xq1WBItl_padding-left);
  border-left: var(--mixin-sRpT8xq1WBItl_border-left-width)
    var(--mixin-sRpT8xq1WBItl_border-left-style)
    var(--mixin-sRpT8xq1WBItl_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-OglJtD0XSu9jH_background);
  font-family: var(--mixin-OglJtD0XSu9jH_font-family);
  border-radius: var(--mixin-OglJtD0XSu9jH_border-top-left-radius)
    var(--mixin-OglJtD0XSu9jH_border-top-right-radius)
    var(--mixin-OglJtD0XSu9jH_border-bottom-right-radius)
    var(--mixin-OglJtD0XSu9jH_border-bottom-left-radius);
  padding: var(--mixin-OglJtD0XSu9jH_padding-top)
    var(--mixin-OglJtD0XSu9jH_padding-right)
    var(--mixin-OglJtD0XSu9jH_padding-bottom)
    var(--mixin-OglJtD0XSu9jH_padding-left);
  border-top: var(--mixin-OglJtD0XSu9jH_border-top-width)
    var(--mixin-OglJtD0XSu9jH_border-top-style)
    var(--mixin-OglJtD0XSu9jH_border-top-color);
  border-right: var(--mixin-OglJtD0XSu9jH_border-right-width)
    var(--mixin-OglJtD0XSu9jH_border-right-style)
    var(--mixin-OglJtD0XSu9jH_border-right-color);
  border-bottom: var(--mixin-OglJtD0XSu9jH_border-bottom-width)
    var(--mixin-OglJtD0XSu9jH_border-bottom-style)
    var(--mixin-OglJtD0XSu9jH_border-bottom-color);
  border-left: var(--mixin-OglJtD0XSu9jH_border-left-width)
    var(--mixin-OglJtD0XSu9jH_border-left-style)
    var(--mixin-OglJtD0XSu9jH_border-left-color);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-td9XAj2DKsV-3_font-family);
  color: var(--mixin-td9XAj2DKsV-3_color);
  font-size: var(--mixin-td9XAj2DKsV-3_font-size);
  font-weight: var(--mixin-td9XAj2DKsV-3_font-weight);
  letter-spacing: var(--mixin-td9XAj2DKsV-3_letter-spacing);
  line-height: var(--mixin-td9XAj2DKsV-3_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-ThFJEK7yglx32_font-family);
  color: var(--mixin-ThFJEK7yglx32_color);
  font-size: var(--mixin-ThFJEK7yglx32_font-size);
  font-weight: var(--mixin-ThFJEK7yglx32_font-weight);
  line-height: var(--mixin-ThFJEK7yglx32_line-height);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-7WxcakahcCk82_display);
  flex-direction: var(--mixin-7WxcakahcCk82_flex-direction);
  align-items: var(--mixin-7WxcakahcCk82_align-items);
  justify-content: var(--mixin-7WxcakahcCk82_justify-content);
  list-style-position: var(--mixin-7WxcakahcCk82_list-style-position);
  padding-left: var(--mixin-7WxcakahcCk82_padding-left);
  position: var(--mixin-7WxcakahcCk82_position);
  list-style-type: var(--mixin-7WxcakahcCk82_list-style-type);
  flex-column-gap: var(--mixin-7WxcakahcCk82_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-bNiYhCGJbes32_display);
  flex-direction: var(--mixin-bNiYhCGJbes32_flex-direction);
  align-items: var(--mixin-bNiYhCGJbes32_align-items);
  justify-content: var(--mixin-bNiYhCGJbes32_justify-content);
  list-style-position: var(--mixin-bNiYhCGJbes32_list-style-position);
  padding-left: var(--mixin-bNiYhCGJbes32_padding-left);
  position: var(--mixin-bNiYhCGJbes32_position);
  list-style-type: var(--mixin-bNiYhCGJbes32_list-style-type);
  flex-column-gap: var(--mixin-bNiYhCGJbes32_flex-column-gap);
}
